body {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1 {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mono {
  font-family: monospace, monospace;
  font-size: 1.0rem;
}

/******************************************************************************/

.description {
  font-weight: 300;
  font-size: 1.2rem;
}

/******************************************************************************/

#game table th {
  padding-right: 0.75rem;
}

#game .col-no-ellipsis {
  width: 1px;
  white-space: nowrap;
}

#game table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1px;
}

#game .borderless td, .borderless th {
  border: none;
}

#game .board {
  font-size: 0.35vw;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  #game .board {
    font-size: 6px;
  }
}

#game .board span {
  font-family: monospace, monospace;
  white-space: pre;
}

#game .board a:hover {
  text-decoration: none;
}

#game .board .highlight a {
  color: green;
}

#game .board .highlight a:hover {
  color: #0056b3;
}

#game button {
  min-width: 10rem;
}

/******************************************************************************/

#game-list table {
  table-layout: auto;
}

#game-list .col-ellipsis {
  max-width: 1px;
  white-space: nowrap;
}

#game-list .col-no-ellipsis {
  width: 1px;
  white-space: nowrap;
}

#game-list table tr {
  cursor: pointer;
}

#game-list table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1px;
}

/******************************************************************************/

#game-create .form-group {
  width: 100%;
}

#game-create .form-group .input-group {
  margin-bottom: 0.25rem;
}

#game-create .form-group .input-group-addon {
  width: 12rem;
}

#game-create .board {
  font-size: 0.35vw;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  #game-create .board {
    font-size: 6px;
  }
}

#game-create .board span {
  font-family: monospace, monospace;
  white-space: pre;
}

#game-create button {
  min-width: 10rem;
}

/******************************************************************************/

#tipbox .form-group {
  width: 100%;
}

#tipbox .input-group {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25rem;
}

#tipbox button {
  min-width: 10rem;
}

/******************************************************************************/

.footer {
  bottom: 0;
  width: 100%;
  margin-top: 1.5rem;
}

.footer span {
  font-size: 0.9rem;
}

/******************************************************************************/

#result-modal .modal-body span {
  word-wrap: break-word;
}

#result-modal .modal-body a {
  white-space: pre;
}

/******************************************************************************/

#status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1.5rem;
  background-color: #222;
  z-index: 3;
}

#status-bar table {
  table-layout: fixed;
  font-size: 0.8rem;
  color: white;
  width: 100%;
}

#status-bar table td {
  width: 33.3%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#status-bar #status-bar-version a {
  color: inherit;
}
